
* {
    box-sizing: border-box;
}

body {
    background-color: white;
    min-height: 100vh;
    width: 100%;
    min-width: 300px;
    position: relative;
    display: table;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 1em;
}

h2 {
    padding: 1em 0em;
}

/**
*
*   div with site background and title
*
*/

.site {
    width: 100%;
    height: 60vh;

    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    margin-bottom: 1em;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;

    /* for offset of content div*/
    padding-right: 5em;
}

body > a {
    text-decoration: none;
}

/**
*
*   Table with site name
*
*/

.site-content {
    font-family: 'Source Code Pro', monospace;
    font-size: 140%;
    width: 30%;
    min-width: 140px;
    height: 25%;
    min-height: 50px;
    float: right;
    color: black;
    font-weight: 700;
    padding: 1em 2em;

    /* display: table used for vertically center text together with display: table-cell in next rule*/
    display: table;
    overflow: hidden;
}

.site-content > div {
    display: table-cell;
    vertical-align: middle;
}

/*
*
*   setting bg and content div color for devsoncoffee site
*
 */
.devsoncoffee {
    background-image: url(../assets/images/devsoncoffee_bg.jpeg);
    background-position: top center !important;
}
.devsoncoffee > div {
    background: rgba(80,200,120,0.9);
}

/*
*
*   setting bg and content div color for checkitout site
*
 */
.checkitout {
    background-image: url(../assets/images/checkitout_bg.jpeg);
    background-position: center center !important;
}
.checkitout > div {
    background: rgba(156,39,176,0.9);
}


/**
*
*   Footer
*
*/

footer {
    position: relative;
    width: 100%;
    color: #212121;
    padding: 15px;
    margin-top: 2em;
    text-align: center;
}

footer a {
    color: #9c27b0; /* purple 500 */
    text-decoration: none;
}

footer a:hover, footer a:active {
    color: #e040fb; /* purple A200 */
}

.small {
    font-size: 75%;
}


/**
*
*   For mobile phones
*
*/

@media only screen and (max-width: 768px) {

    .coming-table {
        padding: 1em;
    }

    .site {
        justify-content: center;
        padding-right: 0px;
    }

    .site-content {
        font-size: 110%;
    }
}
